{# empty Twig template #}
{% extends 'SiteFrontEndBundle::base_template.html.twig' %}
{% block title %}Персональный тренер Евгений Надеждин{% endblock  %}
{%block top_menu %}
			
                                <div class="top-menu">
				 	<span class="menu"> </span>
					<ul class="nav navbar-nav">
						<li><a class="active" href="{{ url('main_page') }}">Главная <span class="sr-only">(current)</span></a></li>
						<li><a href="{{ url('about_page') }}">Обо мне</a></li>
						<li><a href="{{ url('training_page') }}">Тренировки</a></li>
						<li><a href="{{ url('gallery_page') }}">Галерея</a></li>
						<li><a href="{{ url('contacts_page') }}">Контакты</a></li>
						<div class="clearfix"> </div>
			  		</ul>
                                </div>
{% endblock %}
{% block content %} 

<div class="about">
	<div class="container relative">
		
		<div class="col-md-8 about-text">
                    <h3>{{ post.title }}</h3>
			<p>{{ post.created|localizeddate('none', 'none', 'ru_RU', null, "d MMMM Y") }}</p>
			<p class="second-text">{{ post.content }}</p>
		</div>
		<div class="col-md-4 about-slider">
								    <section class="slider">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="{{ asset('/bundles/sitefrontend/images/b1.jpg') }}" class="img-responsive" alt="" />
									</li>
									<li>
									<img src="{{ asset('/bundles/sitefrontend/images/b2.jpg') }}" class="img-responsive" alt="" />
									</li>
									<li>
									<img src="{{ asset('/bundles/sitefrontend/images/b1.jpg') }}" class="img-responsive" alt="" />
									</li>
									<li>
									<img src="{{ asset('/bundles/sitefrontend/images/b3.jpg') }}" class="img-responsive" alt="" />
									</li>
							  </ul>
							</div>
						  </section>
						  <!-- FlexSlider -->
						  <script defer src="{{ asset('/bundles/sitefrontend/js/jquery.flexslider.js') }}"></script>
						  <script type="text/javascript">
							$(function(){
							  SyntaxHighlighter.all();
							});
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});
						  </script>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>

{% endblock  %}